/* ----------------------------------------
/* comen*/

/* ----------------------------------------
/* PALETA DE COLORES */
:root{
  --Beige : #efdddd;
  --cafe_claro: #9c8289;
  --cafe_medio: #886663;
  --cafe_oscuro:#5c4547;
  --Rosa_bajito: #efaab2;
  --Rosa_oscuro: #82555a;
  --verde_bajito: #a8a8a8;
  --verde_olivo: #727c78;
}

/* ----------------------------------------
/* RECURSOS DEL MAESTRO */
html
{
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 15rem ;
}

@media(max-width: 600px) {
  html{
    scroll-padding-top: 20rem;
  }
}

*,*:before,*:after
{
box-sizing: inherit;
}

body
{
  font-size: 16px;
  font-family: "Qwitcher Grypen",normal;
}

h1{
  font-size: 3.8rem;
  text-align: center;
}

h2
{
  font-size: 2.8rem;
  text-align: center;
}

h3
{
  font-size: 1.8rem;
  text-align: center;
}

/* ----------------------------------------
/* TITULO */
header{
  position: fixed;
  background-color: var(--Beige);
  width: 100%;
}

.titulo{
  text-align:center;
  font-weight: 700;
  color: var(--Rosa_oscuro);
}

.titulo h1{
  font-size: 6rem;
  margin-top: 0;
  margin-bottom: 0;
}

.navegacion-principal{
  display: flex;
  justify-content: center;
}

.navegacion-principal a{
  color: var(--cafe_oscuro);
  text-decoration: none;
  font-size: 3.5rem;
  font-style: normal;
  padding: 1rem;
}

.navegacion-principal a:hover{
  background-color: var(--Rosa_oscuro);
  color: var(--Beige);
}

.contenedor{
  background-color: var(--Rosa_bajito);
  max-width: 1300rem;
  margin: 0 0;
}

.banner{
  background-image: url(/PROYECTO/IMG/kiut.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 50rem;
}

.contenido-banner{
  background-color: rgba(0, 0, 0, .6);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.contenido-banner span{
  background: linear-gradient(#d4c9d3, #ff0000);
  -webkit-background-clip: text;
  color: transparent;
  justify-content: center;
}

.contenido-banner h2{
  font-size: 12rem;
  color: var(--Rosa_bajito);
}

.productos{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.producto{
  display: flex;
  flex-direction:column;
  align-items: center;
  width: 40rem;
}

.producto a{
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
}

.productos{
  font-family: "Roboto Condensed", sans-serif;
}

/*PAGINAS EXTERNAS*/
.titulo-externas{
  text-align:center;
  font-family: "Roboto Condensed", sans-serif;
  color: var(--Rosa_oscuro);
  background-color: var(--Beige);
}

.titulo-externas h1{
  font-size: 6rem;
  margin-top: 0;
  margin-bottom: 0;
}

.imagen{
  display: flex;
  flex-direction:column;
  align-items: center;
  width: 40rem;
}

.imagenes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.contenido-externas span{
  font-family: "Roboto Condensed", sans-serif;
  font-size: 6rem;
  color: var(--Rosa_oscuro);
}

.contenido-externas h3{
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2rem;
  color: var(--Rosa_oscuro);
}

.contenido-externas p{
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
  color: var(--Rosa_bajito);
}

/*----------------------------------------
/*ANIMACIONES DEL TITULO DEL INICIO*/
.rotate-scale-down:hover {
	-webkit-animation: rotate-scale-down 0.65s linear both;
	        animation: rotate-scale-down 0.65s linear both;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-10-7 14:8:29
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-scale-down
 * ----------------------------------------
 */
 @-webkit-keyframes rotate-scale-down {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(0.5) rotateZ(180deg);
            transform: scale(0.5) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
  }
}
@keyframes rotate-scale-down {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(0.5) rotateZ(180deg);
            transform: scale(0.5) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
  }
}
